# Конкантенация

In [ ]:
import pandas as pd
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')
#movies.head()
#ratings.head()
movies.info()

In [37]:
joined = ratings.merge(movies, on = 'movieId', how='left')
joined.head() 
#len(ratings) == len(joined)

   userId  movieId  rating   timestamp                    title genres
0       1       31     2.5  1260759144  Dangerous Minds (1995)   Drama
1       1       31     2.5  1260759144  Dangerous Minds (1995)   Drama

In [33]:
import pandas as pd
ratings = pd.read_csv('ratings_example.txt', sep = '\t')
movies = pd.read_csv('movies_example.txt', sep = '\t')
movies.head()
#ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144

In [52]:
import pandas as pd
ratings = pd.read_csv('ratings_example.txt', sep = '\t')
movies = pd.read_csv('movies_example.txt', sep = '\t')
joined = ratings.merge(movies,on='movieId', how='outer')
joined

,userId,movieId,rating,timestamp,title,genres
0,1.0,31,2.5,1.260759e+09,Dangerous Minds (1995),Drama
1,1.0,31,2.5,1.260759e+09,Dangerous Minds (1995),Drama
2,NaN,32,NaN,NaN,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller

In [53]:
movies.drop_duplicates(subset = 'movieId', keep = 'first', inplace = True)
movies.head()

   movieId                                      title                   genres
0       31                    Dangerous Minds (1995)                     Drama
1       32  Twelve Monkeys (a.k.a. 12 Monkeys) (1995)  Mystery|Sci-Fi|Thriller

In [60]:
import pandas as pd
items_dict = {

    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394], 

    'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],

    'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]

}


purchase_log = {

    'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],

    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132], 

    'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]

}
items_df = pd.DataFrame(items_dict)
purchase_df = pd.DataFrame(purchase_log)

In [76]:
joined = items_df.merge(purchase_df, on ='item_id', how = 'right')
joined['VALUE'] = joined['stock_count'] * joined['price']
joined['VALUE'].sum()

19729490.0

#  Перебор файлов в папке

In [77]:
import os
files = os.listdir('data')
files

FileNotFoundError: [WinError 3] Системе не удается найти указанный путь: 'data'